<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="icon" href="/public/favicon.ico">
  <meta name="description" content="Description">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/docsify/lib/themes/vue.css">
</head>

<body>
<section class="cover show" style="background: rgb(255, 255, 255);">
  <div class="cover-main">
    <h1><a href="" data-id="LuLiangDev" class="anchor"><span>LuLiangDev</span></a></h1>

    <p><a href="https://github.com/LiangLuDev">GitHub</a></p>
  </div>
  <div class="mask"></div>
</section>
</body>

</html>
